<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-content">
            <div class="footer-col">
                <h3>{{ site.title }}</h3>
                <p>{{ site.description }}</p>
            </div>
            
            <div class="footer-col">
        <h3><a href="/about">Connect</a></h3>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
        </div>
    </div>
</footer>
